<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:0px">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Mi Pinterest</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="<%= root_path %>">Nosotros <span class="sr-only">(current)</span></a>
            </li>
            <li><a class="nav-link" href="<%= mypins_path %>">Mis Pins</a></li>
            <li class="nav-item">
            <a class="nav-link" href="<%= pins_path %>">Pins</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if current_user.nil? %>
                <li><a href="<%= new_user_session_path %>">Ingreso</a></li>
                <li><a href="<%= new_user_registration_path %>">Registro</a></li>
            <% else %>
                <li><a href="<%= destroy_user_session_path %>" data-method="delete">Salir</a></li>
            <% end %>
        </ul>

    </div>
</nav>